body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
}
.container{
    height: 99%;
}

.bookshelf{
    display: grid;
    height: 50%;
    border: 1px solid brown;
    padding: 20px;
    grid-template-rows: 50px;
}

.bookshelf > span, div{
    justify-self: center;
}

.subheader{
    font-size: 2rem;
}

.shelfspace{
    display: grid;
    border: 1px solid red;
    max-width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.shelfspace > span, div{
    justify-self: center;
}

.book{
    display: grid;
    border: 1px solid blue;
    height: 200px;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
    width: 250px;
}

dialog{
    border: none;
    background: none;
}

.modal{
    background: white;
    height: 300px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 100px;
    padding: 30px;
    box-shadow: 3px 3px 3px 3px black;
    border: none;
    border-radius: 20px;
}

.book-form{
    width: 200px;
    display: grid;
    padding: 0px 20px 20px;
    grid-row: 1;
    gap: 10px;
    grid-column: 1;
}

#close{
    grid-column: 2;
    height: 20px;
    width: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    align-self: center;
    justify-self: start;
}